@media only screen and (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        background-color: white;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
    }
}
html,body{
    height: 100%;
    margin: 0 auto;
    list-style:none;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    text-decoration: none;
}
#JSDocumentation{
    margin: 0;
    padding: 0;
    border-style:solid;
    padding: 10px 30px;
    color: black;
}
nav{
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
    float: left;
    min-width: 290px;
    margin: 0;
    padding: 0;
    background-color:rgb(224, 224, 224);

}
a {
    padding: 10px 30px;
    color:#4d4e53;
    cursor: pointer;
    text-decoration: none;
}
nav > ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav > ul > li{
    display: flex;
    list-style: none;
    border-style:solid;
    background-color:rgb(224, 224, 224);
}
main{
    position: absolute;
    margin-left: 310px;
    text-align: justify;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    padding-right: 20px;
}
code{
        display: block;
        text-align: left;
        white-space: pre-line;
        position: relative;
        word-break: normal;
        word-wrap: normal;
        line-height: 2;
        background-color: #f7f7f7;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
}
#MNDLink{
    margin: 0;
    padding: 0;
    color: blue;
    text-decoration: underline;
}
#MNDLink:visited{
    color: purple;
}
